body{
	background-image:url("background.png");
	margin: 0;
	font-family: Lato;
	font-size: 12px;
}
ul, li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.horario{
	display: inline-block;
	padding: 45px;
}
.horario .day{
	background: #ecf0f1;
	border-bottom: 4px solid #bdc3c7;
	float: left;
	margin: 30px;
	position: relative;
	height: 150px;
	width: 170px;
}
.day.marked{
	background: #32CD32;
	border-color: #000000;
}
 .day .day-number{
	color: #7f8c8d;
	left: 5px;
	position: absolute;
	top: 5px;
}
.day.marked .day-number{
	color: white;
}

.day .events{
	color: white;
	margin: 15px 7px 7px;
    height: 200px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.day .events h5{
    margin: 0 0 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.day .events strong,
.day .events span{
	display: block;
	font-size: 15px;
}
.day a.add-event{
	background: url('https://db.tt/5jlmu47h') no-repeat;
	display: block;
	height: 46px;
	left: 50%;
	margin-left: -21px;
	margin-top: -21px;
	position: absolute;
	top: 50%;
	width: 46px;
}

#add-event .modal-body div{
	margin-bottom: 20px;
}

#add-event .modal-body label{
	display: block;
	font-weight: bold;
	margin-bottom: 4px;
}